<!-- <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Angular-Flask Example</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" [routerLink]="['/home']">Map</a>   
      </div>
    </div>
</nav> -->


<nav class="navbar fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand" href="#"><i class="fab fa-angular"></i> Angular Flask</a>
    <div class="header-tools">
      <i class="fas fa-user"></i>
    </div>
</nav>
<nav class="bg-dark sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">
          <span data-feather="file-text"></span>
          <i class="fas fa-home"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/map']">
          <span data-feather="file-text"></span>
          <i class="fas fa-map"></i> Maps
        </a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/forms']">
          <span data-feather="file-text"></span>
          <i class="fas fa-file"></i> Forms
        </a>
      </li>     
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/trees']">
          <span data-feather="file-text"></span>
          <i class="fas fa-sitemap"></i> Trees
        </a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/tables']">
          <span data-feather="file-text"></span>
          <i class="fas fa-table"></i> Tables
        </a>
      </li>   
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/graphs']">
          <span data-feather="file-text"></span>
          <i class="fas fa-chart-pie"></i> Charts/Graphs
        </a>
      </li>   
    </ul>
  </div>
</nav>
