<nav class="navbar fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand" href="#"><i class="fab fa-angular"></i> Angular Flask</a>
    <div class="header-tools">
      <i class="fas fa-user">{{user_data?.cn}}xx{{test_data}}</i>
    </div>
</nav>
<nav class="bg-dark sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">
          <span data-feather="file-text"></span>
          <i class="fas fa-home"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/map']">
          <span data-feather="file-text"></span>
          <i class="fas fa-map"></i> Maps
        </a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/forms']">
          <span data-feather="file-text"></span>
          <i class="fas fa-file"></i> Forms
        </a>
      </li>     
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/trees']">
          <span data-feather="file-text"></span>
          <i class="fas fa-sitemap"></i> Trees
        </a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/tables']">
          <span data-feather="file-text"></span>
          <i class="fas fa-table"></i> Tables
        </a>
      </li>   
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/graphs']">
          <span data-feather="file-text"></span>
          <i class="fas fa-chart-pie"></i> Charts/Graphs
        </a>
      </li>   
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/movies']">
          <span data-feather="file-text"></span>
          <i class="fas fa-film"></i> Movies
        </a>
      </li>  
    </ul>
  </div>
</nav>
