
.form-group{
    margin: 0;
    padding: 0;
    height: 70px;
}


.form-group>label {
  bottom: 30px;
  left:10px;
  position: relative;
  background-color: white;
  padding: 0px 5px 0px 5px;
  font-size: 1.1em;
  transition: 0.2s;
  pointer-events: none;
}


.form-control:focus~label {
  bottom: 55px;
  font-size: 10pt;
  font-weight: bold;
}

.valid-state~label{
  bottom: 55px;
  font-size: 10pt;
  font-weight: bold;
}

.validator-feedback{
  width: 100%;
  font-size: 80%;
  color: #dc3545;
  margin-top: -30px;
}

