
.form-group{
    margin: 0;
    padding: 0;
    height: 70px;
}


.form-group>label {
  bottom: 30px;
  left:10px;
  position: relative;
  background-color: white;
  padding: 0px 5px 0px 5px;
  font-size: 1.1em;
  transition: 0.2s;
  pointer-events: none;
}


.form-control:focus~label {
  bottom: 55px;
  font-size: 10pt;
}


.valid-state~label{
  bottom: 55px;
  font-size: 10pt;
}

.validator-feedback{
  width: 100%;
  font-size: 80%;
  color: #dc3545;
  margin-top: -30px;
}

.validator-feedback-fieldset{
  width: 100%;
  font-size: 80%;
  color: #dc3545;
}

legend{
  font-size: 10pt;
  width: 50px;
}

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 1px solid #ccc;
}

fieldset label{
  padding-left: 5px;
  padding-right: 10px;
}
