
<div style="width:100%; height: 500px;"
leaflet 
(leafletMapReady)="onMapReady($event)"
[leafletOptions]="options"
[leafletLayersControl]="layersControl"
[leafletLayers]="markers"
>
</div>



<button (click)="start_draw()">start</button>
<button (click)="stop_draw()">stop</button>
<button (click)="pause_draw()">pause</button>
<button (click)="resume_draw()">resume</button>
<button (click)="speedup_draw()">faster</button>
<button (click)="slowdown_draw()">slower</button>

<ul>
    <li *ngFor='let location of map_data?.locations'>{{location.name}}</li>
    </ul>