
<div class="card">
    <div class="card-header">
        ngx-leaflet <a href="https://github.com/Asymmetrik/ngx-leaflet" target="_blank">https://github.com/Asymmetrik/ngx-leaflet</a><br/>
        leaflet.motion.js <a href="https://github.com/Igor-Vladyka/leaflet.motion" target="_blank">https://github.com/Igor-Vladyka/leaflet.motion</a><br/>
        @elfalem/leaflet-curve <a href="https://github.com/elfalem/Leaflet.curve" target="_blank">https://github.com/elfalem/Leaflet.curve</a><br/>
    </div>
    <div class="card-body">
        <app-leaflet [map_data]="map_data$ | async"></app-leaflet>
    </div>
</div>