<div class="row">
    <div class="col-lg-12">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to the Angular Flask project</h1>
            <p class="lead"> 
                This project is for learning Angular, testing out new capabilities and defining future component standards.
            </p>   
            <h1 class="display-5">Things like...</h1>         
          </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;" [@EnterLeft]=current_state[0]>
            <div class="card-body">
                <h5 class="card-title">Angular Modules and Components</h5>
                <p class="card-text">See how an application is put together using Angular.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;" [@fadeInOut]=current_state[1]>
            <div class="card-body">
                <h5 class="card-title">Bootstrap and Fontawesome</h5>
                <p class="card-text">CSS style formats and themes to define the look and feel of the application.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;" [@EnterRight]=current_state[2]>
            <div class="card-body">
                <h5 class="card-title">Angular Animation</h5>
                <p class="card-text">Like what is happening on this page right now.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;" [@EnterLeft]=current_state[3]>
            <div class="card-body">
                <h5 class="card-title">Leaflet Maps</h5>
                <p class="card-text">See how we can use Leaflet Maps with angular to add markers and animation.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;" [@fadeInOut]=current_state[4]>
            <div class="card-body">
                <h5 class="card-title">Forms</h5>
                <p class="card-text">Standardized forms and validation for capturing user input.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;" [@EnterRight]=current_state[5]>
            <div class="card-body">
                <h5 class="card-title">Trees</h5>
                <p class="card-text">Heirarchial trees for creating folder structures and other uses.</p>
            </div>
        </div>
    </div>
</div>