<div class="card">
    <div class="card-header">
        Example Form
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                </form> -->
                <div class="form-group">
                    <input type="text" class="form-control" id="usr" required>
                    <label for="usr">Name</label>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" required>
                    <label for="email">Email</label>
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" id="date" required>
                    <label for="date">Date</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="phone" required>
                    <label for="phone">Phone</label>
                </div>
                <div class="form-group">                    
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                    <label for="exampleFormControlSelect1" id="">Example select</label>
                  </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" required>
                    <label for="usr">Password</label>
                </div>
            </div>
        </div>
    </div>
</div>