<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-9">
                        <app-search></app-search>
                    </div>
                    <div class="col-lg-3">
                        <app-add-item></app-add-item>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <app-list></app-list>  
            </div>
        </div>
       
    </div>
    <div class="col-lg-4">
        <app-favorites></app-favorites>
        <app-graphs></app-graphs>
    </div>
</div>
